{% extends 'base.html' %}
{% block title %}Фильмы{% endblock %}
{% block content %}

{% for movie in movies %}
<div style="margin-bottom: 30px; border: 1px solid black; padding: 5px;">
Фильм: {{ movie.title }}
<p>
    {% if movie.directed_by.all|length > 1 %} Режиссёры: {% else %} Режиссёр: {% endif %}
    {{ movie.directed_by.all|join:', ' }}
</p>
<p>
    {% if movie.genres.all|length > 1 %} Жанры: {% else %} Жанр: {% endif %}
    {{ movie.genres.all|join:', ' }}
</p>
Дата создания: {{ movie.date_created }}
    </div>
{% endfor %}
{% endblock %}